<div class="contact-container">
  <div class="inner-contact">
    <div class="contact-img">
      <img src="/assets/images/contact.png" class="contact-wash" alt="contact-wash">
    </div>
    <div class="contact-form">
      <h1>Contact Us</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. perferendis,
        tempora numquam illo soluta asperiore
      </p>
      <input
        id="fullName"
        type="fullName"
        formControlName="fullName"
        class="form-control"
        placeholder="i.e. Srosh Auto Spa"
        required
      />

      <input
        id="userEmail"
        type="userEmail"
        formControlName="userEmail"
        class="form-control"
        placeholder="i.e. example@srosh.com"
        required
      />

      <hr />

    <div class="form-inputs">


              <button
                type="submit"
                [disabled]=""
                
                class="contact-btn"
              >
                Send
              </button>
    </div>
    </div>
  </div>
</div>
