.reservation {
  // background-image: url("/assets/images/car-washing.jpg");
  background-color: #879ecc;
  background-size: cover;
  background-position: center;
  padding: 100px;
  display: flex;
  justify-content: space-around;
}

.reservation-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(
    51,
    51,
    51,
    0.7
  ); /* Dark background color with some transparency */
  backdrop-filter: blur(5px); /* Apply a blur effect to the background */
  color: #fff;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="time"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--main-red);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:active {
  background-color: #c9302c; /* Button background color for active state */
}

button:active {
  background-color: #c9302c; /* Button background color for active state */
}

button:hover {
  background-color: #d1483e; /* Button background color on hover */
}

/* Dropdown menu */
select {
  padding: 0.5rem;
  font-size: 16px;
}

/* Buttons */
.time-buttons {
  display: flex;
  flex-wrap: wrap;
}

.time-buttons button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f0f0f0;
  cursor: pointer;
}

.time-buttons button:hover {
  background-color: #e0e0e0;
}

.hr-example {
  display: none;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 20px;
}

.invoice {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: space-between;
}

.invoice-header {
  background-color: #0070ba;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.invoice-header h1 {
  margin: 0;
}

.invoice-details {
  padding: 20px;
}

.invoice-details h2 {
  margin-top: 0;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.item span {
  flex: 1;
}

.total {
  background-color: #0070ba;
  color: #fff;
  padding: 20px;
  text-align: right;
  font-size: 18px;
}

.pay-button {
  background-color: #0070ba;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.pay-button:hover {
  background-color: #27475d;
}
