<div class="container-fluid">
  <div class="row justify-content-center align-items-center">
    <div class="col-12 row_content">
      <div class="success_image">
        <img src="../../../../assets/images/success_otp.svg" alt="success" />
      </div>
      <div class="content">
        <h4 class="title text-center">Success!</h4>
        <p class="text-center">
          Congratulations! You have been successfully authenticated
        </p>
      </div>
      <div class="success_btn">
        <a [routerLink]="['/home']" class="btn">Continue</a>
      </div>
    </div>
  </div>
</div>
