.container-fluid {
  background-color: #f8f8f8;
  padding: 0px 0px;
  // height: 100vh;
}

title {
  margin: 0px;
  font-weight: bold;
}

.register-form > div {
  width: 80%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form div {
  width: 70%;
}

.form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  letter-spacing: 3px;
  margin-top: 39px;
}

.form-control,
.btn {
  border-radius: 13px;
  height: 3rem;
}

.form-section {
  // height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.form-header small {
  color: var(--bs-gray-600);
}

.label {
  color: #181818;
  font-size: 14px;
}

.btn {
  background-color: var(--main-red);
  color: white;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.end-section {
  width: 100%;
}

.end-section p {
  text-align: center;
  color: #595959;
  font-size: 13px;
}

.end-section a {
  color: var(--main-red);
  text-decoration: none;
  cursor: pointer;
}

.end-section a:hover {
  text-decoration: underline;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

input {
  border: 1px solid #c4c4c4;
  border-radius: 12px;
}

input:focus {
  outline: 1px solid var(--button);
  border: 1px solid var(--button);
  box-shadow: 0 0 0 0.25rem var(--button) opacity($color: var(--button));
}

.img-section {
  padding-right: 0px;
}

.img-section > div {
  // padding: 347px;
  width: 100%;
  height: 100vh;
  background-image: url("/assets/login-washing.svg");
  background-position: center;
  background-repeat: no-repeat;
  // background-size: contain;
  // background-attachment: fixed;
  object-fit: cover;
}

@media screen and (max-width: 3000px) {
  .container-fluid {
    // height: 100vh;
  }
  .img-section {
    // height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-clip: border-box;
  }
}

@media screen and (max-width: 992.65px) {
  .img-section {
    display: none;
  }

  .form-section {
    width: 100%;
  }
}

@media screen and (max-width: 600.65px) {
  .container-fluid {
    // height: 125vh;
    padding: 50px 0px;
  }
  .form div {
    width: 100%;
  }
}

@media screen and (max-width: 425.65px) {
  .container-fluid {
    // height: 123vh;
  }
  .form div {
    width: 100%;
  }
}

@media screen and (max-width: 320.65px) {
  .container-fluid {
    // height: 143vh;
  }
  .form div {
    width: 100%;
  }
}
